/* src/components/Certificates.css */
.certificates {
    margin-bottom: 20px;
  }
  
  .certificates h2 {
    font-size: 18px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  
  .certificate-item {
    display: flex;
  }
  #certiName{
    width: 130%;
  }
  #certiDate{
    width: 30%;
  }
  
  .certificate-name-input,
  .certificate-date-input,
  .certificate-organization-input {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
    padding: 5px;
    box-sizing: border-box;
    border: none;
  }
  
  .delete-button,
  .add-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .add-button {
    background-color: #4CAF50;
    margin-top: 15px;
  }
  
  .delete-button:hover,
  .add-button:hover {
    opacity: 0.8;
  }
  