/* src/components/Education.css */
.education {
  margin-bottom: 20px;
}

.education h2 {
  font-size: 18px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.education-table {
  width: 100%;
  border-collapse: collapse;
}

.education-table th,
.education-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.education-table th {
  background-color: #f2f2f2;
  font-size: 16px;
}
#Insti{
  width: 30%;
}
#year{
  width: 15%;
}
#cgpa{
  width: 15%;
}
.degree-input,
.cgpa-input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
  border: none;
}

.institution-input {
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
  border: none;
}

.year-input {
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
  border: none;
}
